body {
  margin: 10px 10px;
  background-color: white;
}

.racer_table td {
  background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* IE10+ */
background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C */

  height: 140px;
  width: 140px;
  border: 2px solid #3498db;

}

#player1_strip td.active{
  background:url("diddy_kong.jpg") no-repeat;
  background-size:60px 60px;
  height: 140px;
  width: 140px;
}


#player2_strip td.active{
  background:url("yoshi.png") no-repeat;
  background-size:60px 60px;
}

h2 {
  text-align: center;
  padding-top: 30px;
  color: white;
  background-color: #2ecc71;
  height: 60px;
}
